
      <!-- model add user -->
      <div [hidden]="!verifAdmin" id="addUserModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center">Création d'un utilisateur</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div>
                <form #newUserForm="ngForm" (ngSubmit)="onAddNewUser(newUserForm)">
                  <div class="form-group">
                    <label for="firstName">Prénom</label>
                    <input type="text" name="firstName" required ngModel class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="lastName">Nom</label>
                    <input type="text" name="lastName" required ngModel class="form-control">
                  </div>
                  <div class="form-group">                    
                    <label for="username">Identifiant</label>
                    <input type="text" name="username" required ngModel class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" name="email" required ngModel class="form-control">
                  </div>
                  <div *ngIf="verifAdmin" class="form-group">
                    <label for="authority">Role</label>
                    <select name="role" required ngModel="ROLE_USER" class="form-control">
                      <option value="ROLE_USER">Utilisateur</option>
                      <!-- <option value="ROLE_HR">HR</option> -->
                      <option value="ROLE_EMPLOYEE">Employé(e)</option>
                      <option value="ROLE_ADMIN">Admin</option>
                      <option value="ROLE_SUPER_ADMIN">Super Admin</option>
                    </select>
                  </div>
                  <div *ngIf="!verifAdmin" class="form-group">
                    <label for="authority">Role</label>
                    <input type="text" name="role" required ngModel="USER" readonly class="form-control">
                  </div>
                  <!-- <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Photo </span>
                    </div>
                    <div class="custom-file">
                      <input type="file" accept="image/*" name="profileImage"
                      (change)="onProfileImageChange($event)"
                        class="custom-file-input">
                      <label class="custom-file-label"><span [hidden]="!fileName">{{ fileName }}</span>
                        <span [hidden]="fileName">Sélectionner un fichier</span>
                      </label>
                    </div>
                  </div> -->
                  <fieldset class="form-group">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="checkbox" name="active" ngModel class="form-check-input" >
                        Actif
                      </label>
                    </div>
                    <div class="form-check disabled">
                      <label class="form-check-label">
                        <input type="checkbox" name="notLocked" ngModel class="form-check-input">
                        Déverrouillé
                      </label>
                    </div>
                  </fieldset>
                  <button type="submit" style="display: none;" id="new-user-save"></button>
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" id="new-user-close">Fermer</button>
              <button type="button" (click)="saveNewUser()" [disabled]="newUserForm.invalid" class="btn btn-primary">Enregistrer</button>
            </div>
          </div>
        </div>
      </div>