

<body>
  <div class="wrapper">
      <div class="pricing-table group">
          <h1 class="heading">
              VISION GLOBALE
          </h1>
          <div class="block personal fl">
              <h2 class="title">Requêtes en instance</h2>
              <div class="content">
                  <p class="price ">
                      <span>{{ nombreOfDevis }}</span>
                  </p>
                  <p class="hint"></p>
              </div>
              <div class="pt-footer">
              </div>
          </div>

          <div class="block professional fl">
              <h2 class="title">Contrats</h2>
              <div class="content">
                  <p class="price">
                      <span>{{ nombreOfContracts }}</span>
                  </p>
                  <p class="hint"></p>
              </div>
              <div class="pt-footer">
              </div>
          </div>
          <div class="block business fl">
              <h2 class="title">Indemnité fortaire par éolienne</h2>
              <div class="content">
                  <p class="price">
                      <span> {{ daylyIndemnityPerWindTurbine }}</span>
                      euros par jour
                  </p>
                  <p class="hint"></p>
              </div>
              <div class="pt-footer">
              </div>
          </div>
      </div>


      <div class="pricing-table group">
        <h1 class="heading">
        </h1>
        <div class="block personal fl">
            <h2 class="title">Nombre de jours totaux à indemniser</h2>
            <div class="content">
                <p class="price">
                    <span> {{ numberOfCompensableDays }} </span>
                </p>
            </div>           
            <div class="pt-footer">
            </div>
        </div>
        <div class="block professional fl">
            <h2 class="title">Nombre d'éoliennes</h2>
            <div class="content">
                <p class="price">
                    <span>{{ nbreEoliennes }}</span>
                </p>
            </div>
           
            <div class="pt-footer">
            </div>
        </div>
        <div class="block business fl">
            <h2 class="title">Total à indemniser </h2>
            <div class="content">
                <p class="price">
                    <span>{{
                      nombreOfContracts *
                        nbreEoliennes *
                        numberOfCompensableDays *
                        daylyIndemnityPerWindTurbine
                    }}</span>
                </p>
            </div>

            <div class="pt-footer">
            </div>
        </div>
    </div>
  </div>
</body>






