<mat-toolbar class="navbarcolor">
    <mat-toolbar-row>

     <span class="windy"> WINDY</span>  
        <a
          class="nav-item nav-link move-right mr-3 "
          (click)="changeTitle('Profile')"
          data-toggle="tab"
          href="#profile"
        >
        </a>

        <span class="example-spacer text-white"></span>
       <div class="colorUserName"> Bonjour {{ user?.firstName }}</div>

       <div ngbDropdown class="d-inline-block hamargin">
          <button class="btnMenu" id="dropdownBasic1" ngbDropdownToggle>        <mat-icon>menu</mat-icon>
          </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem  [routerLink]="['/home']">Accueil</button>
          <button ngbDropdownItem  (click)="onLogOut()">Se déconnecter</button>
        </div>
      </div>
  </mat-toolbar-row>
</mat-toolbar>
