/* example-spacer {
    flex: 1 1 auto;
    } */

ul li {
  list-style: none;
}

.fa-user {
  margin: 10px;
}

.navbarcolor {
  /* background-color: #3d2a42;   5d4954 */
  background-color: #3d2a42;
  font-family: "Poppins", sans-serif;
  justify-content: space-around;
}

.windy {
  padding-left: 40px;
  padding-right: 40px;
  color: rgb(226, 226, 226);
  letter-spacing: 5px;
}
.windy:hover {
  background-color: rgb(113, 87, 124);
  width: 170px;
  height: 50px;
  padding-top: 10px;
}

.colorUserName:hover {
  background-color: rgb(113, 87, 124);
    width: 170px;
    height: 50px;
    padding-top: 10px;  
    color: rgb(226, 226, 226);
    padding-left: 12px;
  letter-spacing: 1px;
}

.colorUserName {
  color: rgb(226, 226, 226);
  margin: 25px;
  color: rgb(226, 226, 226);
  letter-spacing: 1px;
}

.example-spacer {
  flex: 1 1 auto;
}

.hamargin{
    margin-right: 45px;
}

.hamargin:hover{
  background-color: rgb(113, 87, 124);
}


.btnMenu{

  background-color: -webkit-linear-gradient(rgba(99, 57, 139, 0.35), rgba(67, 46, 92, 0.55));
  border-radius: 50px;

  /* background-color: #57435c ;
  border-color: #3d2a42 ; */

  /* background-color: rgb(226, 226, 226);
border-color: #3d2a42; */
}

.navbar-toggler-icon{
  margin-right: 20px;
  margin-top: 3px;
}




