table {
  width: 100%;
}

.btncreatecontract {
  width: 200px;
  margin-bottom: 40px; 
  margin-top: 35px;
margin-right: 125px;
  position:relative; 
  display:inline-block; 
  float:right;

}

.asspar {
  margin-top: 20px;
  margin-bottom: 20px;
}
.assparis {
  margin-bottom: 40px;
}

.contractContainer {
  margin: 40px;
}
.contentspacing{

  margin: 20px;
padding-left: 60px;
padding-right: 60px;
padding-top: 25px;

  /* padding: 30px; */
}
.rowhover:hover{
  color:rgb(51, 143, 143);
  background-color: rgb(239, 229, 243);
}

.boldtitle{
    font-weight: bold;
    color: rgb(16, 78, 78);

}


.sidemargin{
margin-left: 150px;
margin-right: 150px;
width: 1250px;

}



/*--------- Font ------------*/
/* @import url(https://fonts.googleapis.com/css?family=Droid+Sans); */
/* @import url(http://weloveiconfonts.com/api/?family=fontawesome); */
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
/* * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */

/*------ utiltity classes -----*/
.fl{ float:left; }
.fr{ float: right; }
/*its also known as clearfix*/
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1;  /*For IE 6/7 (trigger hasLayout) */
}

body {
    background: #F2F2F2;
    font-family: 'Droid Sans', sans-serif;
    line-height: 1;
    font-size: 16px;    
}
.wrapper {
    padding-top: 30px;
    padding-bottom: 70px;
    margin: 0px;
}
.pricing-table {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    padding: 10px;
    padding-right: 0;
}
.pricing-table .heading{
    color: #9C9E9F;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-bottom: 4rem;
    font-size: 30px;    

}
.heading{
    font-size: 56px;
}

.headings{
    color: #9C9E9F;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-bottom: 4rem;
    font-size: 20px; 
 }

.block{
    width: 30%;    
    margin: 0 15px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;    
/*    border: 1px solid red;*/
}
/*Shared properties*/
.title,.pt-footer{
    color: #FEFEFE;
    text-transform: capitalize;
    line-height: 2.5;
    position: relative;
    margin-bottom: 0px;
}
.content{
    position: relative;
    color: #FEFEFE;
    padding: 20px 0 10px 0;
    margin-top: 0px;
}
/*arrow creation*/
.content:after, .content:before,.pt-footer:before,.pt-footer:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.pt-footer:after,.pt-footer:before{
    top:0;
}
.content:after,.pt-footer:after {
	border-color: rgba(136, 183, 213, 0);	
	border-width: 5px;
	margin-left: -5px;
}
/*/arrow creation*/
.price{
    position: relative;
    display: inline-block;
    margin-bottom: 0.625rem;
}
.price span{    
    font-size: 20px;
    letter-spacing: 8px;
    font-weight: bold;        
}
.price sup{
    font-size: 1.5rem;    
    position: absolute;    
    top: 12px;
    left: -12px;
}
.hint{
    font-style: italic;
    font-size: 0.9rem;
}
.features{
    list-style-type: none;    
    background: #FFFFFF;
    text-align: left;
    color: #9C9C9C;
    padding:30px 22%;
    font-size: 0.9rem;
}
.features li{
    padding:15px 0;
    width: 100%;
}
.features li span{
   padding-right: 0.4rem; 
}
.pt-footer{
    font-size: 0.95rem;
    text-transform: capitalize;
}
.personal .title{        
    background: #78CFBF;    
}
.personal .content,.personal .pt-footer{
    background: #82DACA;
}
/* 788fcf        78CFBF       82DACA     */
.professional .title{
    background: #3EC6E0;
}
.professional .content,.professional .pt-footer{
    background: #53CFE9;
}
.business .title{
    background: #E3536C;
}
.business .content,.business .pt-footer{
    background: #EB6379;
}
/*  E3536C       EB6379       859ddf      a1b5ec  */


.business .pt-footer:after {	
	border-top-color: #FFFFFF;	
}


