
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }


.formInputSpacing{
margin: 90px;
justify-content: space-around;

}

.InputSpacing{
  margin-top: 50px;
  justify-content: space-around;
  }
  
  .textAreaSize{
width: 93%;
border-color: rgb(161, 159, 159);
  }



.contractTitle{
  
    text-transform: uppercase;
    margin-top: 60px;
    margin-left: 450px;
    font-size: large;
    color: rgb(51, 33, 51)
  }
.lefty{
margin-left: 50px;
margin-right: 30px;
}
.righty{
  margin-right: 50px;
  margin-left: 30px;
}


.details{
  margin-left: 50px;
  font-size: 14px;
}

.colcenter{
  margin-left: 30px;
  margin-right: 30px;

}


.demobtn{
  color:  rgb(238, 231, 231)whitesmoke;
  color: rgb(243, 223, 223);
  background-color: whitesmoke;
  margin-top: 15px;
  padding-left: 25px;

  width: 100px;
}

.lastInputWidth{
  width: 401px;
}

