.connexionetsecurite{
    justify-content: space-around;
    width: 80%;
    height: 220px;
    margin: 90px;
}


.inputshort{
    width: 800px;
}

.btspace{
    margin-bottom: 40px;
}
.topspace{
    margin-top: 20px;
    font-size: 14px;    
    font-style: italic;
}
