
 <!-- change password  -->
 <div class="connexionetsecurite" id="reset-password">
    <form #resetPasswordForm="ngForm" (ngSubmit)="onResetPassword(resetPasswordForm)">
      <fieldset>
        <legend class="btspace">Réinitialiser votre mot de passe</legend>
        <div class="form-group btspace">
          <label for="exampleInputEmail1">Adresse E-mail</label>
          <input type="email" name="reset-password-email" required ngModel class="form-control inputshort"
            placeholder="Saisir votre e-mail (example@email.com)">
          <small class="form-text text-muted topspace">Avec Windy SA, votre e-mail demeurera confidentiel.</small>
        </div>
        <button type="submit" [disabled]="resetPasswordForm.invalid" class="btn btn-primary">
          <i *ngIf="refreshing" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
          <span *ngIf="refreshing">Chargement en cours...</span>
          <span *ngIf="!refreshing">Valider</span>
        </button>
      </fieldset>
    </form>
  </div>