/* html, body {
    height: 100%;
    width: 100%;
} */

.app-container{
    min-height: 1000px;
    background-color: whitesmoke;
}

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}
/* 
mat-drawer {
    height: 100%;

} */

mat-drawer-container {
    height: 100%;
}