
<!-- <mat-drawer-container class="app-container"> -->
  <!-- <mat-drawer mode="side" opened>
    <app-sidebar> </app-sidebar>
  </mat-drawer> -->
<!-- 
  <mat-drawer-content>
    <router-outlet> </router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<notifier-container></notifier-container> -->

<router-outlet> </router-outlet>
