.sidebar {
    width: 237px;
    /* height: 999px; */
    height: 100%;
  padding: 16px;
  text-align: left;
  /* background-color: #615b63; */
  /* background-color: #5d4954;   604368   806388  604368   615b63  463a40              */
  background-color: #604368;
  font-family: "Roboto, Poppins", sans-serif;
  line-height: 1.5;
  color: rgb(226, 226, 226);
}

.sidebar a {
    /* border: 1px solid #725a35e5; */
    /* border: 1px solid #5d4954; */
    width: 170px;
  height: 50px;
  margin-top: 150px;
  margin-bottom: 100px;
  padding-left: 25px;
  padding-top: 12px;
  color: whitesmoke;
  letter-spacing: 0.5px;
  justify-content: space-around;
}

.sidebar a:hover {
  background-color: rgb(113, 87, 124);
  letter-spacing: 1px;
  width: 500px;

}
