<mat-list role="list" class="sidebar text-white">
 
{{role}}

  <div *ngIf="role=='ROLE_EMPLOYEE'">
    <mat-list-item role="listitem"><a [routerLink]="['/admin/client']" >Tableau de bord C</a></mat-list-item>

  </div>
  <div *ngIf="role=='ROLE_EMPLOYEE' || role=='ROLE_SUPER_ADMIN'">
    <mat-list-item role="listitem"><a [routerLink]="['/admin/dashboard']" >Tableau de bord AE</a></mat-list-item>
  </div>


  <div>
    <mat-list-item role="listitem"><a [routerLink]="['/admin/devis']">Demandes en cours E</a></mat-list-item>
    <mat-list-item role="listitem"><a [routerLink]="['/admin/contracts']">Contrats  CEA</a></mat-list-item>
    <mat-list-item role="listitem"><a [routerLink]="['/admin/profil']">Profil  CEA</a></mat-list-item>
    <mat-list-item role="listitem"><a [routerLink]="['/admin/connexionetsecurite']">Connexion et sécurité  CEA</a></mat-list-item>
  </div>

  <div *ngIf="role=='ROLE_SUPER_ADMIN'">
    <mat-list-item role="listitem"><a [routerLink]="['/admin/users']">Utilisateurs  A</a></mat-list-item>
  </div>




  
    <!--   ******************************     DEVIS     ******************************   -->
    <!-- <mat-list-item role="listitem"><a [routerLink]="['/devis/newdevis']">Soumettre une affaire  C</a></mat-list-item> -->


    <!--   ******************************     CONTRATS     ******************************   -->
    <!-- <mat-list-item role="listitem"><a [routerLink]="['/contracts/newcontract']">Créer un contrat  E</a></mat-list-item> -->


    <!--   ******************************     USERS     ******************************   -->
    <!-- <mat-list-item role="listitem"><a [routerLink]="['/users/newuser']">Créer un nouvel utilisateur  A</a></mat-list-item> -->


    <!--   ******************************     GESTION DU COMPTE     ******************************   -->



</mat-list>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
