<div class="col devisTitle">Assurance paramétrique  "Insuffisance ou absence de vent"</div>

<form
  class="formInputSpacing"
  [formGroup]="devisForm"
  (ngSubmit)="formValidation()"
>

  <div class="row">
    <div class="col lefty">
      <label for="inputFirstName">Prénom</label>
      <input
        type="text"
        formControlName="firstName"
        class="form-control"
        placeholder="Prénom"
      />
    </div>

    <div class="col righty">
      <label for="inputName">Nom</label>
      <input
        type="text"
        formControlName="lastName"
        class="form-control"
        placeholder="Nom"

      />
    </div>
  </div>

  <div class="row InputSpacing">
    <div class="col lefty">
      <label for="inputEmail4">Adresse E-mail</label>
      <input
        type="email"
        formControlName="emailAddress"
        class="form-control"
        id="inputEmail4"
        placeholder="Adresse E-mail"

      />
    </div>

    <div class="col righty">
      <label for="inputPhoneNumber">Téléphone</label>
      <input
        type="text"
        formControlName="phoneNumber"
        class="form-control"
        placeholder="Téléphone"

      />
    </div>
  </div>

  <div class="row InputSpacing">
    <div class="col lefty">
      <label for="inputCompanyName">Nom de société</label>
      <input
        type="companyName"
        formControlName="companyName"
        class="form-control"
        placeholder="Nom de société"

      />
    </div>

    <div class="col righty">
      <label for="inputCompanyAddress">Adresse de la société</label>
      <input
        type="text"
        formControlName="companyAddress"
        class="form-control"
        placeholder="Saisissez le nom de la ville"

      />
    </div>
  </div>

  <div class="row InputSpacing">
    <div class="col lefty">
      <label for="inputCityRiskName">Adresse du risque</label>
      <input
        type="text"
        formControlName="cityRiskName"
        class="form-control"
        placeholder="Saisissez le nom de la ville où est situé le risque"

      />
    </div>

    <div class="col righty">
      <label for="inputWindTurbineNumber">Nombre d'éoliennes</label>
      <input
        type="text"
        formControlName="windTurbineNumber"
        class="form-control"
        placeholder="Saisissez le nombre d'éoliennes à assurer"

      />
    </div>
  </div>

  <div class="row InputSpacing">
    <div class="col lefty">
      <label for="inputStartDate">Date de début</label>
      <input
        type="text"
        formControlName="startDate"
        class="form-control"
        placeholder="Date de début de la garantie"

      />
    </div>
    <div class="col righty">
      <label for="inputEndDate">Date de fin</label>
      <input
        type="text"
        formControlName="endDate"
        class="form-control"
        placeholder="Date de fin de la garantie"

      />
    </div>
  </div>

  <br />
  <br />

  <h5 class="lefty">
    Merci d'indiquer tout détail susceptible d'être utile à l'étude de votre
    dossier
  </h5>
  <textarea class="textAreaSize" rows="5" cols="30" pInputTextarea></textarea>

  <br />
  <div class="form-group InputSpacing lefty">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="invalidCheck"
        required
      />
      <label class="form-check-label " for="invalidCheck">
        J'accepte les termes et conditions de l'offre d'assurance paramétrique
        "Absence de vent".
        <br />
        J'accepte de définir Visual Crossing comme tierce partie de récolte de
        données météorologiques.
      </label>
      <div class="invalid-feedback lefty">
        Vous devez valider votre acception avant l'envoi de votre requête.
      </div>
    </div>
  </div>
  <button class="btn btn-primary lefty" type="submit">
      Envoyer la demande de devis
  </button>
  <button class="btn btn-danger righty" type="button" (click)=delete(devis._id)>
    Supprimer
</button>
  <div class="demobtn lefty" (click)="demo()"> Démo</div>
</form>
