.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }


.formInputSpacing{
margin: 90px;
justify-content: space-around;

}

.InputSpacing{
  margin-top: 50px;
  justify-content: space-around;
  }
  



.devisTitle{
  text-transform: uppercase;
  margin-top: 60px;
  margin-left: 450px;
  font-size: large;
  color: rgb(51, 33, 51)
}



.lefty{
margin-left: 90px;
margin-right: 45px;

}


.righty{
  margin-right: 90px;
  margin-left: 45px;

}


.textAreaSize{
  width: 87%;
  border-color: rgb(161, 159, 159);
  margin-left: 90px;
  margin-right: 45px;
  
  
    }

.demobtn{
  color:  rgb(238, 231, 231)whitesmoke;
  color: rgb(243, 223, 223);
  background-color: whitesmoke;
  margin-top: 15px;
  padding-left: 25px;

  width: 100px;
}








