<div class="container">
    <div class="row mb-2 mt-2 text-center">
      <div class="col-md-4">
      </div>
      <div class="col-md-4  topmargin">
        <h1>Gestion des utilisateurs</h1>
        <small *ngIf="titleAction$ | async as title"></small>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  
    <!-- nav bar -->
    <!-- <nav class="navbar navbar-expand-md breadcrumb">
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="nav nav-pills"> -->
          <!-- <a class="nav-item nav-link active ml-1" (click)="changeTitle('Users')" data-toggle="tab" href="#users"> -->
            <!-- <a class="nav-item nav-link active ml-1" (click)="changeTitle('   ')" data-toggle="tab" href="#users"> -->
              <!-- ne pas supprimer utilisateurs -->
            <!-- <i class="fa fa-users"></i>
            Utilisateurs
          </a> -->
          <!-- <a [hidden]="!isAdmin" class="nav-item nav-link ml-3" (click)="changeTitle('Settings')" data-toggle="tab" href="#reset-password"> -->
            <!-- <a [hidden]="!verifAdmin" class="nav-item nav-link ml-3" (click)="changeTitle('   ')" data-toggle="tab" href="#reset-password">
              <i class="fa fa-cogs"></i>
            Paramètres 
          </a>
        </div>
      </div>
    </nav>-->
  
    <!-- main content -->
    <div class="tab-content mt-3" id="myTabContent">
      <!-- user table -->
      <div class="tab-pane fade show active" id="users">
        <div class="mb-3 float-right">
          <div class="btn-group mr-2">
            <form class="form-inline my-2 my-lg-0 justify-content-center">
              <input name="searchTerm" #searchInput="ngModel" class="form-control mr-sm-2" ngModel
              (ngModelChange)="searchUsers(searchInput.value)" type="search" placeholder="Saisir un utilisateur...">
           </form>
            <a [hidden]="!isAdmin" type="button" class="btn btn-info" [routerLink]="['/admin/users/newuser']">
              <i class="fa fa-plus"></i>Créer un utilisateur
            </a>
          </div>
          <div class="btn-group">
            <button type="button" (click)="getUsers(true)" class="btn btn-info">
              <i *ngIf="refreshing" class="fas fa-sync fa-spin"></i><i *ngIf="!refreshing" class="fas fa-sync"></i>
            </button>
          </div>
        </div>
<!-- <ul>
  <li *ngFor="let appUser of users">
    {{appUser?.firstName}}    
  </li>
</ul> -->

        <table class="table">
            <thead class="table-borderless">
            <tr class="text-center rowhover">
              <!-- <th>Photo</th> -->
              <th>ID</th>
              <th>Prénom</th>
              <th>Nom</th>
              <th>Idenfiant</th>
              <th>E-mail</th>
              <th>Statut</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngFor="let appUser of users">
            <tr class="text-center rowhover">
              <!-- <td (click)="onSelectUser(appUser)">
                <img height="40" width="40" src="{{appUser?.profileImageUrl}}" class="rounded-circle img-fluid img-thumbnail" alt=""/>
              </td> -->
              <td (click)="onSelectUser(appUser)">{{appUser.userId}}</td>
              <td (click)="onSelectUser(appUser)">{{appUser?.firstName}}</td>
              <td (click)="onSelectUser(appUser)">{{appUser?.lastName}}</td>
              <td (click)="onSelectUser(appUser)">{{appUser?.username}}</td>
              <td (click)="onSelectUser(appUser)">{{appUser?.email}}</td>
              <td (click)="onSelectUser(appUser)">
                <span [hidden]="!appUser?.active" class="badge badge-success">Actif</span>
                <span [hidden]="appUser?.active" class="badge badge-danger">Inactif</span>
              </td>
              <td class="">
                <div class="btn-group">
                  <button class="btn btn-outline-info" (click)="onEditUser(appUser)"><i class="fas fa-edit"></i></button>
                  <button [hidden]="!verifAdmin" class="btn btn-outline-danger" (click)="onDeleteUser(appUser.username)"><i class="fas fa-trash"></i></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <!-- data-backdrop="false" => JQuery -->
      <button [hidden]="true" type="button" id="openUserInfo" data-toggle="modal" data-target="#viewUserModal" data-backdrop="false"
      >
      </button>
      <button [hidden]="true" type="button" id="openUserEdit" data-toggle="modal" data-target="#editUserModal" data-backdrop="false"
      >
      </button>
  
  
      <!-- user profile -->
      <!-- <div class="tab-pane fade" id="profile">
        <div class="container">
          <div class="row flex-lg-nowrap">
            <div class="col">
              <div class="row">
                <div class="col mb-3">
                  <div class="card">
                    <div class="card-body">
                      <div class="e-profile">
                        <div class="row">
                          <div class="col-12 col-sm-auto">
                            <div class="mx-auto" style="width: 120px;">
                              <div class="d-flex justify-content-center align-items-center rounded">
                                <img class="rounded" height="135" width="135" src="{{user?.profileImageUrl}}" alt="">
                              </div>
                              <div *ngIf="fileStatus?.status==='progress'" class="progress mt-1">
                                <div class="progress-bar bg-info" role="progressbar"
                                  [style.width.%]="fileStatus?.percentage" aria-valuenow="0" aria-valuemin="0"
                                  aria-valuemax="100">{{fileStatus?.percentage}}%</div>
                              </div>
                            </div>
                          </div>
                          <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                            <div class="text-center text-sm-left mb-2 mb-sm-0">
                              <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{user?.firstName}} {{user?.lastName}}</h4>
                              <p class="mb-0">{{user?.username}}</p>
                              <div *ngIf="user?.lastLoginDateDisplay !== null" class="text-muted"><small>Last login:
                                  {{user?.lastLoginDateDisplay | date:'medium'}}</small></div> -->
                              <!-- <div class="mt-2">
                                <button (click)="updateProfileImage()" class="btn btn-primary" type="button">
                                  <i class="fa fa-fw fa-camera"></i>
                                  <span>Change Photo</span>
                                </button>
                              </div> -->
                            <!-- </div>
                            <div class="text-center text-sm-right">
                              <div class="text-muted"><small>Joined {{user?.joinDate | date:'mediumDate'}}</small></div>
                            </div>
                          </div>
                        </div>
                        <div class="tab-content pt-3">
                          <div class="tab-pane active">
                            <form #profileUserForm="ngForm" (ngSubmit)="onUpdateCurrentUser(profileUserForm.value)" class="form"
                              novalidate>
                              <div class="row">
                                <div class="col">
                                  <div class="row">
                                    <div class="col">
                                      <div class="form-group">
                                        <label>First Name</label>
                                        <input type="text" name="firstName" required [(ngModel)]="user.firstName"
                                          class="form-control">
                                      </div>
                                    </div>
                                    <div class="col">
                                      <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text" name="lastName" required [(ngModel)]="user.lastName"
                                          class="form-control">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col">
                                      <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" name="username" required [(ngModel)]="user.username"
                                          class="form-control">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col">
                                      <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" name="email" required [(ngModel)]="user.email"
                                          class="form-control">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col mb-3">
                                      <div class="form-group">
                                        <label>Role</label><small [hidden]="isAdmin">(read only)</small>
                                        <select name="role" required [(ngModel)]="user.role" class="form-control">
                                            <option [hidden]="!isAdmin" value="ROLE_USER">USER</option>
                                            <option [hidden]="!isAdmin" value="ROLE_HR">HR</option>
                                            <option [hidden]="!isAdmin" value="ROLE_EMPLOYEE">EMPLOYEE</option>
                                            <option [hidden]="!isAdmin" value="ROLE_ADMIN">ADMIN</option>
                                            <option [hidden]="!isAdmin" value="ROLE_SUPER_ADMIN">SUPER ADMIN</option>
                                          </select>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                                  <div class="mb-2"><b>Account Settings</b></div>
                                  <div class="row">
                                    <div class="col">
                                      <div class="custom-controls-stacked px-2">
                                        <div class="custom-control custom-checkbox">
                                          <input name="active" type="checkbox" [(ngModel)]="user.active" class="custom-control-input">
                                          <label class="custom-control-label">Actif</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                          <input name="notLocked" type="checkbox"
                                            [(ngModel)]="user.notLocked" class="custom-control-input">
                                          <label class="custom-control-label">En service</label>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col d-flex justify-content-end">
                                  <button class="btn btn-primary" type="submit">
                                    <i *ngIf="refreshing" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
                                    <span *ngIf="refreshing">Chargement en cours...</span>
                                    <span *ngIf="!refreshing">Enregistrer</span>
                                  </button>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-3 mb-3">
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="px-xl-3">
                        <button (click)="onLogOut()" class="btn btn-block btn-secondary">
                          <span>Logout</span>
                          <i class="fas fa-sign-in-alt ml-1"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <h6 class="card-title font-weight-bold">Droits rattachés au role</h6>
                      <h6 *ngFor="let authority of user?.authorities" class="card-text">{{authority}}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
  
      <!-- modal user info -->
      <div class="modal fade bd-example-modal-lg" id="viewUserModal" tabindex="-1" role="dialog" aria-labelledby=""
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center" id="exampleModalLongTitle">{{selectedUser?.firstName}}
                {{selectedUser?.lastName}}
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div>
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-sm-auto">
                        <div class="mx-auto" style="width: 120px;">
                          <div class="d-flex justify-content-center align-items-center rounded">
                            <img class="rounded" height="120" width="120" src="{{selectedUser?.profileImageUrl}}" alt="{{selectedUser?.firstName}}">
                          </div>
                        </div>
                      </div>
                      <div class="col d-flex flex-column flex-sm-row justify-content-between">
                        <div class="text-center text-sm-left mb-sm-0">
                          <h6 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{selectedUser?.firstName}}
                            {{selectedUser?.lastName}}</h6>
                          <p class="mb-1">{{selectedUser?.username}}</p>
                          <div class="">Status:
                            <span [hidden]="!selectedUser?.active" class="badge badge-success">Actif</span>
                            <span [hidden]="selectedUser?.active" class="badge badge-danger">Inactif</span>
                          </div>
                          <div *ngIf="selectedUser?.lastLoginDateDisplay" class="text-muted"><small>Dernière connexion: {{selectedUser?.lastLoginDateDisplay | date: 'medium'}}</small>
                          </div>
                        </div>
                        <div class="text-center text-sm-right">
                          <div class="text-muted"><small>Joined {{selectedUser?.joinDate | date: 'mediumDate'}}</small></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"></li>
                    <li class="list-group-item"><i class="fa fa-id-badge float-right"></i>{{selectedUser?.userId}}
                    </li>
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{selectedUser?.email}}
                    </li>
                    <li class="list-group-item"><i class="fas fa-shield-alt float-right"></i>{{selectedUser?.role?.substring(5)}}
                    <li *ngIf="selectedUser?.lastLoginDateDisplay" class="list-group-item"><i
                        class="fas fa-sign-in-alt float-right"></i>{{selectedUser?.lastLoginDateDisplay | date: 'medium'}}
                    </li>
                    <li class="list-group-item">
                      <span [hidden]="selectedUser?.notLocked">
                        <i class="fa fa-lock float-right" style="color: red;">
                        </i>
                        Compte verrouillé
                      </span>
                      <span [hidden]="!selectedUser?.notLocked">
                        <i class="fa fa-unlock float-right" style="color: green;">
                        </i>
                        Compte déverrouillé
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
  
      <!-- model add user -->
      <div [hidden]="!verifAdmin" class="modal draggable fade bd-example-modal-lg" id="addUserModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center">Création d'un utilisateur</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div>
                <form #newUserForm="ngForm" (ngSubmit)="onAddNewUser(newUserForm)">
                  <div class="form-group">
                    <label for="firstName">Prénom</label>
                    <input type="text" name="firstName" required ngModel class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="lastName">Nom</label>
                    <input type="text" name="lastName" required ngModel class="form-control">
                  </div>
                  <div class="form-group">                    
                    <label for="username">Identifiant</label>
                    <input type="text" name="username" required ngModel class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" name="email" required ngModel class="form-control">
                  </div>
                  <div *ngIf="verifAdmin" class="form-group">
                    <label for="authority">Role</label>
                    <select name="role" required ngModel="ROLE_USER" class="form-control">
                      <option value="ROLE_USER">Utilisateur</option>
                      <!-- <option value="ROLE_HR">HR</option> -->
                      <option value="ROLE_EMPLOYEE">Employé(e)</option>
                      <option value="ROLE_ADMIN">Admin</option>
                      <option value="ROLE_SUPER_ADMIN">Super Admin</option>
                    </select>
                  </div>
                  <div *ngIf="!verifAdmin" class="form-group">
                    <label for="authority">Role</label>
                    <input type="text" name="role" required ngModel="USER" readonly class="form-control">
                  </div>
                  <!-- <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Photo </span>
                    </div>
                    <div class="custom-file">
                      <input type="file" accept="image/*" name="profileImage"
                      (change)="onProfileImageChange($event)"
                        class="custom-file-input">
                      <label class="custom-file-label"><span [hidden]="!fileName">{{ fileName }}</span>
                        <span [hidden]="fileName">Sélectionner un fichier</span>
                      </label>
                    </div>
                  </div> -->
                  <fieldset class="form-group">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="checkbox" name="active" ngModel class="form-check-input" >
                        Actif
                      </label>
                    </div>
                    <div class="form-check disabled">
                      <label class="form-check-label">
                        <input type="checkbox" name="notLocked" ngModel class="form-check-input">
                        Déverrouillé
                      </label>
                    </div>
                  </fieldset>
                  <button type="submit" style="display: none;" id="new-user-save"></button>
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" id="new-user-close">Fermer</button>
              <button type="button" (click)="saveNewUser()" [disabled]="newUserForm.invalid" class="btn btn-primary">Enregistrer</button>
            </div>
          </div>
        </div>
      </div>
  
       <!-- modal edit user -->
    <div class="modal draggable fade bd-example-modal-lg" id="editUserModal" tabindex="-1"
    role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center">Modifier {{editUser?.firstName}}
            {{editUser?.lastName}} <small [hidden]="verifAdmin || verifAdminOrEmployee">
              (Droits de lecture)
            </small></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="">
            <form #editUserForm="ngForm">
              <div class="form-group">
                <label for="firstName">Prénom</label>
                <input type="text" name="firstName" [disabled]="!(verifAdmin || verifAdminOrEmployee)" required
                  [(ngModel)]="editUser.firstName" class="form-control">
              </div>
              <div class="form-group">
                <label for="lastName">Nom</label>
                <input type="text" name="lastName" [disabled]="!(verifAdmin || verifAdminOrEmployee)" required
                  [(ngModel)]="editUser.lastName" class="form-control">
              </div>
              <div class="form-group">
                <label for="username">Identifiant</label>
                <input type="text" name="username" [disabled]="!(verifAdmin || verifAdminOrEmployee)" required
                  [(ngModel)]="editUser.username" class="form-control">
              </div>
              <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" name="email" [disabled]="!(verifAdmin || verifAdminOrEmployee)" required [(ngModel)]="editUser.email"
                  class="form-control">
              </div>
              <div class="form-group">
                <label for="authority">Role <small [hidden]="verifAdmin">(Droits de lecture )</small></label>
                  <select name="role" [disabled]="!verifAdmin" required [(ngModel)]="editUser.role" class="form-control">
                    <option value="ROLE_USER">Utilisateur</option>
                    <!-- <option value="ROLE_HR">HR</option> -->
                    <option value="ROLE_EMPLOYEE">Employé(e)</option>
                    <option value="ROLE_ADMIN">Admin</option>
                    <option value="ROLE_SUPER_ADMIN">Super Admin</option>
                  </select>
              </div>
              <!-- <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <span class="input-group-text">Photo </span>
                </div>
                <div class="custom-file">
                  <input type="file" accept="image/*" [disabled]="!isAdminOrEmployee" name="profileImage"
                    (change)="onProfileImageChange($event)"
                    class="custom-file-input">
                  <label class="custom-file-label"><span [hidden]="!fileName">{{fileName}}</span>
                    <span [hidden]="fileName">Sélectionner un fichier</span>
                  </label>
                </div>
              </div> -->
              <fieldset class="form-group">
                <div class="form-check">
                  <label class="form-check-label">
                    <input name="active" type="checkbox" [disabled]="!isEmployee" [(ngModel)]="editUser.active"
                      class="form-check-input">
                      Actif <small [hidden]="isEmployee">(Droits de lecture)</small>
                  </label>
                </div>
                <div class="form-check disabled">
                  <label class="form-check-label">
                    <input name="locked" type="checkbox" [disabled]="!isEmployee" [(ngModel)]="editUser.notLocked"
                      class="form-check-input">
                    Déverrouillé <small [hidden]="isEmployee">(Droits de lecture)</small>
                  </label>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeEditUserModalButton">Fermer</button>
          <button type="button" (click)="onUpdateUser()" [disabled]="editUserForm.invalid || !(verifAdmin || verifAdminOrEmployee)" class="btn btn-primary">Enregistrer</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- modal edit user -->
  <div class="modal draggable fade bd-example-modal-lg" id="editUserModal" tabindex="-1"
  role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">Modifier {{editUser?.firstName}}
          {{editUser?.lastName}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="">
          <form #editUserForm="ngForm">
            <div class="form-group">
              <label for="firstName">Prénom</label>
              <input type="text" name="firstName" required
                [(ngModel)]="editUser.firstName" class="form-control">
            </div>
            <div class="form-group">
              <label for="lastName">Nom</label>
              <input type="text" name="lastName" required
                [(ngModel)]="editUser.lastName" class="form-control">
            </div>
            <div class="form-group">
              <label for="username">Identifiant</label>
              <input type="text" name="username" required
                [(ngModel)]="editUser.username" class="form-control">
            </div>
            <div class="form-group">
              <label for="email">E-mail</label>
              <input type="email" name="email" required [(ngModel)]="editUser.email"
                class="form-control">
            </div>
            <div class="form-group">
              <label for="authority">Role</label>
                <select name="role" required [(ngModel)]="editUser.role" class="form-control">
                  <option value="ROLE_USER">Utilisateur</option>
                  <option value="ROLE_HR">HR</option>
                  <option value="ROLE_EMPLOYEE">Employé(e)</option>
                  <option value="ROLE_ADMIN">Admin</option>
                  <option value="ROLE_SUPER_ADMIN">Super Admin</option>
                </select>
            </div>
            <!-- <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">Photo </span>
              </div>
              <div class="custom-file">
                <input type="file" accept="image/*" name="profileImage"
                  (change)="onProfileImageChange($event)"
                  class="custom-file-input">
                <label class="custom-file-label"><span [hidden]="!fileName">{{fileName}}</span>
                  <span [hidden]="fileName">Sélectionner un fichier</span>
                </label>
              </div>
            </div> -->
            <fieldset class="form-group">
              <div class="form-check">
                <label class="form-check-label">
                  <input name="active" type="checkbox" [(ngModel)]="editUser.active"
                    class="form-check-input">
                    Actif
                </label>
              </div>
              <div class="form-check disabled">
                <label class="form-check-label">
                  <input name="locked" type="checkbox" [(ngModel)]="editUser.notLocked"
                    class="form-check-input">
                  Déverrouillé
                </label>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeEditUserModalButton">Fermer</button>
        <button type="button" (click)="onUpdateUser()" [disabled]="editUserForm.invalid" class="btn btn-primary">Enregistrer</button>
      </div>
    </div>
  </div>
  </div>
  
      <!-- profile image change form -->
    <form enctype="multipart/form-data" style="display:none;">
        <input type="file"
          (change)="onProfileImageChange($event); onUpdateProfileImage()"
         name="profile-image-input" id="profile-image-input" placeholder="file" accept="image/*" />
    </form>
  
    </div>
  