




<body>
  <div class="wrapper">
      <div class="pricing-table group">
          <h1 class="heading">
              VISION GLOBALE DU PORTEFEUILLE
          </h1>
          <div class="block business fl">
              <h2 class="title">Requêtes en instance</h2>
              <div class="content">
                  <p class="price ">
                      <span>{{ nombreOfDevis }}</span>
                  </p>
                  <p class="hint"></p>
              </div>
              <div class="pt-footer">
              </div>
          </div>

          <div class="block personal fl">
              <h2 class="title">Contrats</h2>
              <div class="content">
                  <p class="price">
                      <span>{{ nombreOfContracts }}</span>
                  </p>
                  <p class="hint"></p>
              </div>
              <div class="pt-footer">
              </div>
          </div>

          <div class="block professional fl">
              <h2 class="title">Indemnité fortaire par éolienne</h2>
              <div class="content">
                  <p class="price">
                      <span> {{ daylyIndemnityPerWindTurbine }}</span>
                      euros par jour
                  </p>
                  <p class="hint"></p>
              </div>
              <div class="pt-footer">
              </div>
          </div>
      </div>


      <div class="pricing-table group">
        <h1 class="heading">
        </h1>
        <div class="block business fl">
          <h2 class="title">Total à indemniser </h2>
          <div class="content">
              <p class="price">
                  <span>{{
                    nombreOfContracts *
                      nbreEoliennes *
                      numberOfCompensableDays *
                      daylyIndemnityPerWindTurbine
                  }}</span>
              </p>
          </div>

          <div class="pt-footer">
          </div>
      </div>
        <div class="block personal fl">
            <h2 class="title">Nombre de jours totaux à indemniser</h2>
            <div class="content">
                <p class="price">
                    <span> {{ numberOfCompensableDays }} </span>
                </p>
            </div>           
            <div class="pt-footer">
            </div>
        </div>
        <div class="block professional fl">
            <h2 class="title">Nombre d'éoliennes</h2>
            <div class="content">
                <p class="price">
                    <span>{{ nbreEoliennes }}</span>
                </p>
            </div>
           
            <div class="pt-footer">
            </div>
        </div>

    </div>
  </div>
</body>











<!-- 

<div class="headspacing">
  <div class="card-deck">
    <div class="project-box triangle" style="background-color: #ffd3e2"> 
    <div class="project-box triangle" style="background-color: #ffd3e2">
      <div class="card-body text-center">
        <p class="box-content-header">2. Nombre de devis</p>
        <p class="card-text">{{ nombreOfDevis }}</p>
      </div>
    </div>

    <div class="project-box" style="background-color: #e9e7fd">
      <div class="card-body text-center">
        <p class="box-content-header">1. Nombre de contrats</p>
        <p class="card-text">{{ nombreOfContracts }}</p>
      </div>
    </div>

    <div class="project-box" style="background-color: #d5deff">
      <div class="card-body text-center">
        <p class="box-content-header">3. Indemnité fortaire par éolienne</p>
        <p class="card-text">
          {{ daylyIndemnityPerWindTurbine }} euros par jour
        </p>
      </div>
    </div>
  </div>

  <div class="card-deck">
    <div class="project-box" style="background-color: #dbf6fd">
      <div class="card-body text-center">
        <p class="box-content-header">4. Nombre de jours totaux à indemniser</p>
        <p class="card-text">{{ numberOfCompensableDays }}</p>
      </div>
    </div>

    <div class="project-box" style="background-color: #c8f7dc">
      <div class="card-body text-center">
        <p class="box-content-header">5. Nombre d'éoliennes</p>
        <p class="card-text">{{ nbreEoliennes }}</p>
      </div>
    </div>

    <div class="project-box" style="background-color: #d5deff">
      <div class="card-body text-center">
        <p class="box-content-header">6. Total à indemniser</p>
        <p class="card-text">
          {{
            nombreOfContracts *
              nbreEoliennes *
              numberOfCompensableDays *
              daylyIndemnityPerWindTurbine
          }}
        </p>
      </div>
    </div>
  </div>
</div> -->



<!-- 
<div class="card-deck">
  <div class="project-box" style="background-color: #c8f7dc">
    <div class="card-body text-center">
      <p class="box-content-header">7. Nombre de clients</p>
      <p class="card-text">{{ }}</p>
    </div>
  </div>

  <div class="project-box" style="background-color: #d5deff">
    <div class="card-body text-center">
      <p class="box-content-header">8. Nombre de contrats</p>
      <p class="card-text">{{ }}</p>
    </div>
  </div>

  <div class="project-box" style="background-color: #dbf6fd">
    <div class="card-body text-center">
      <p class="box-content-header">9. Nombre de villes</p>
      <p class="card-text">{{ }}</p>
    </div>
  </div>
</div> -->
