<!-- <!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>How to Create responsive Homepage</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="home.component.css" />
  </head>
 -->



    
    <header>
      <div class="wrapper">
        <div class="logo">
          <img src="" alt="" />
        </div>
        <ul class="nav-area">
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
      </div>
      <div class="welcome">
        <!-- <h1>ASSURANCE PARAMETRIQUE</h1> -->
        <!-- <span>L'ASSURANCE PARAMETRIQUE</span> -->
        <h1> L'ASSURANCE PARAMETRIQUE</h1>
      </div>
      <!-- navbar-expand-lg -->
      <nav class="navbar  navbar-light bg-light">
        <a class="navbar-brand" href="#">WINDY</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <!-- <span class="navbar-toggler-icon"></span> -->
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="nav-spacing">
            <!-- <li><a href="#">ACCUEIL</a></li>
            <li><a href="#">ENTREPRISE</a></li>
            <li><a href="#">SOLUTIONS</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Contact</a></li> -->
          </ul>
        </div>

        <div ngbDropdown class="d-inline-block hamargin">
          <button class="btnMenu" id="dropdownBasic1" ngbDropdownToggle>
            <!-- <mat-icon>menu</mat-icon> -->
            <mat-icon></mat-icon>
            <span class="navbar-toggler-icon"></span>

          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button
              class="connectspace"
              ngbDropdownItem
              *ngIf="showlogin == false"
              (click)="redirect()"
            >
              Mon espace
            </button>
            <button
              class="connectspace"
              ngbDropdownItem
              *ngIf="showlogin == true"
              [routerLink]="['/login']"
            >
              Se connecter
            </button>
          </div>
        </div>
      </nav>
    </header>



<!-- <div class="welcome">ASSURANCE PARAMETRIQUE</div> -->
