 html,
body * {
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
  background: -webkit-linear-gradient(rgba(246, 247, 249, 0.8), rgba(62, 52, 73, 0.8)), url(https://upload.wikimedia.org/wikipedia/commons/8/8c/K2,_Mount_Godwin_Austen,_Chogori,_Savage_Mountain.jpg) no-repeat center center fixed;
  background:  url(https://upload.wikimedia.org/wikipedia/commons/8/8c/K2,_Mount_Godwin_Austen,_Chogori,_Savage_Mountain.jpg) no-repeat center center fixed;
  background-size: cover;
}

.navbar-toggler-icon{
  float: right;
}

nav {
  width: 100%;
  height: 48px;
  background: -webkit-linear-gradient(rgba(99, 57, 139, 0.35), rgba(67, 46, 92, 0.55));
  /* background: linear-gradient( rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.55)); */
  /* background: linear-gradient( rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.55)); */
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
}

nav {
  text-align: center;
}

nav ul li:hover > ul {
  overflow: visible;
  max-height: 1240px;
  opacity: 1;
}

nav ul li:hover > ul li {
}

nav ul {
  margin: 0;
  list-style: none;
  position: relative;
  display: inline-table;
}

nav ul:after {
  content: "";
  clear: both;
  display: block;
}

nav ul li {
  float: left;
  height: 48px;
  line-height: 48px;
  transition: background 0.3s ease;
}

nav ul li:hover {
  background: rgba(0, 0, 0, 0.3);
}

nav ul li:hover > a {
  color: #fff;
}

nav ul li a {
  display: block;
  padding: 0 40px;
  color: #453057;
  text-decoration: none;
  text-transform: uppercase;
  float: right; 
  font-size: 16px;
  font-weight: 700;
  opacity: 0.7;
  letter-spacing:1px;
  justify-content: space-around;
}

.navbar-brand{
  color: #453057;
  letter-spacing:3px;
  padding-left: 40px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  opacity: 0.7;
  margin-left: 30px;
  margin-right: 30px;
  justify-content: space-around;

}

nav ul ul {
  display: block;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  
  background: -webkit-linear-gradient(rgba(35, 43, 85, 0.35), rgba(35, 43, 85, 0.55));
  background: linear-gradient( rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.55));
  border-radius: 0px;
  padding: 0;
  position: absolute;
  top: 100%;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
}

nav ul ul li {
  float: none;
  position: relative;
  
}

nav ul ul li a {
  padding: 0 40px;
    color: #919191;
  transition: all .5s ease;
  white-space: nowrap;
}

nav ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}

.welcome {
  font-size: xx-large;
  line-height: 64px;
  font-family: 'Muli';
  color: #ecf0f1;
  height: 40px;
  position: absolute;
  top: 47%;
  left: 53%;
  /* margin-top: -15px; */
  /* margin-left: -165px; */
  font-weight: bold;
}
.welcome:before {
  position: absolute;
  left: -30px;
  line-height: 64px;
}
.welcome:after {
  position: absolute;
  right: -30px;
  line-height: 64px;
}
.welcome:after,
.welcome:before {
  font-family: 'Muli';
  color: #3e1a53;
  font-weight: 500;
  font-size: 64px;
  animation: 2s linear 0s normal none infinite opacity;
  -webkit-animation: 2s ease-out 0s normal none infinite opacity;
  -moz-animation: 2s ease-out 0s normal none infinite opacity;
  -o-animation: 2s ease-out 0s normal none infinite opacity;
}
.visible {
  float: left;
  font-weight: 600;
  overflow: hidden;
  height: 64px;
}
.welcome p {
  display: inline;
  float: left;
  margin: 0;
}
.welcome ul {
  margin-top: 0;
  padding-left: 284px;
  text-align: left;
  list-style: none;
  animation: 6s linear 0s normal none infinite change;
  -webkit-animation: 6s linear 0s normal none infinite change;
  -moz-animation: 6s linear 0s normal none infinite change;
  -o-animation: 6s linear 0s normal none infinite change;
}
.welcome ul li {
  line-height: 64px;
  margin: 0;
}
@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes change {
  0% {
    margin-top: 0;
  }
  15% {
    margin-top: 0;
  }
  25% {
    margin-top: -64px;
  }
  40% {
    margin-top: -64px;
  }
  50% {
    margin-top: -128px;
  }
  65% {
    margin-top: -128px;
  }
  75% {
    margin-top: -64px;
  }
  85% {
    margin-top: -64px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes change {
  0% {
    margin-top: 0;
  }
  15% {
    margin-top: 0;
  }
  25% {
    margin-top: -64px;
  }
  40% {
    margin-top: -64px;
  }
  50% {
    margin-top: -128px;
  }
  65% {
    margin-top: -128px;
  }
  75% {
    margin-top: -64px;
  }
  85% {
    margin-top: -64px;
  }
  100% {
    margin-top: 0;
  }
}
.hamargin{
  margin-right: 88px;
}



 .btnMenu{
  background-color: -webkit-linear-gradient(rgba(99, 57, 139, 0.35), rgba(67, 46, 92, 0.55));
  border-radius: 50px;

 }

 .navbar-toggler-icon{
   margin-right: 20px;
   margin-top: 3px;
 }




* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
}
.wrapper {
	width: 1170px;
	margin: auto;
}
header {
	/* background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(pexels-photo-collections-213798.jpg); */
	background: linear-gradient(rgba(93, 66, 104, 0.8), rgba(95, 94, 94, 0.8)), url(pexels-photo-collections-213798.jpg);
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.nav-area {
	float: right;
	list-style: none;
	margin-top: 30px;
  /* color: rgb(78, 15, 121) */
}
.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: rgb(66, 33, 77);
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins, Roboto, sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: rgb(125, 90, 145);
	color: rgb(61, 38, 124);
  text-transform: uppercase;

}
.logo {
	float: left;
}
.logo img {
	width: 100%;
	padding: 15px 0;
}
.welcome-text {
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 20% 30%;
	text-align: center;
}
.welcome-text h1 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 60px;
}
.welcome-text {
	color: #f4f3f5;
  font-size: 40px;
}
.welcome-text a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}
.welcome-text a:hover {
	background: #fff;
	color: rgb(51, 51, 51);
}
/*resposive*/

@media (max-width:600px) {
	.wrapper {
		width: 100%;
	}
	.logo {
		float: none;
		width: 50%;
		text-align: center;
		margin: auto;
	}
	img {
		width: ;
	}
	.nav-area {
		float: none;
		margin-top: 0;
	}
	.nav-area li a {
		padding: 5px;
		font-size: 11px;
	}
	.nav-area {
		text-align: center;
	}
	.welcome-text {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}
	.welcome-text h1 {
		font-size: 30px;
	}
}

